<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
<section class="page">
    <nav class="tabs">
        <button id="CameraSettings" type="button" onclick="CameraSettingsShow()" class="tab" role="tab">
            Camera settings
        </button>
        <button id="IMUSettings" type="button" onclick="ImuSettingsShow()" class="tab" role="tab">
            IMU settings
        </button>
        <button id="OdometerSettings" type="button" onclick="OdometerSettingsShow()" class="tab" role="tab">
            Odometer settings
        </button>
    </nav>
    <aside id="CameraSettingsContent" class="list-wrapper">
        <div class="close-wrapper">
            <button class="close" type="button" onclick="HideAll()">x</button>
        </div>
        <ul class="list">
            <li class="list-item">
                <div class="param">
                    <span>Camera resolution</span>
                    <form id="camera_resolution_selector_form" name="cam_res_form">
                        <select id="camera_resolution_selector" class="select" name="cam_res_select">
                            {% for resolution in resolutions_list %}
                             <option value="{{resolution}}">{{ resolution }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>

            </li>
            <li class="list-item">
                <div class="param">
                    <span>Camera geometry</span>
                </div>
               <form id="cam_geometry_form" method="post" name="cam_geometry_form" action="/">
                   <div class="param">
                        <span>offset - x, px</span>
                        <span class="param-divider"></span>
                        <span>
                            <input type="text" id="camera_offset_x" name="cam_offset_x" value="8"/>
                        </span>
                    </div>
                    <div class="param">
                        <span>offset - y, px</span>
                        <span class="param-divider"></span>
                        <span>
                            <input type="text" id="camera_offset_y" name="cam_offset_y" value="8"/>
                        </span>
                    </div>
                    <div class="param">
                        <span>width, px</span>
                        <span class="param-divider"></span>
                        <span>
                            <input type="text" id="camera_width" name="cam_width" value="800"/>
                        </span>
                    </div>
                    <div class="param">
                        <span>height, px</span>
                        <span class="param-divider"></span>
                        <span>
                            <input type="text" id="camera_height" name="cam_height" value="600"/>
                        </span>
                    </div>
               </form>
            </li>
            <li class="list-item">
                <form method="post" name="cam_frame_rate_form">
                    <div class="param">
                        <span>Frame time</span>
                        <span class="param-divider"></span>
                        <span>
					        <input type="text" id="cam_frame_time" name="cam_frame_time" value="0.033sec"/>
			            </span>
                    </div>
                    <div class="param">
                        <span>Frame rate</span>
                        <span class="param-divider"></span>
                        <span>
                            <select id="cam_frame_rate" class="select" name="cam_frame_rate">
                                {% for fps in fps_list %}
                                <option>{{ fps }}</option>
                                {% endfor %}
                            </select>
                        </span>
                    </div>
                </form>
            </li>
            <li class="list-item">
                <div class="param">
                    <span>Record video</span>
                </div>

                <div class="param">
                    <span>Video format</span>
                </div>

                <form method="post">
                    <div>
                        <select class="select" name="cam_video_format">
                            <option>mpeg4</option>
                            <option>avi</option>
                            <option>images series</option>
                        </select>
                        <input type="submit" value="применить"/>
                    </div>
                </form>

                <div class="param">
                    <span>File name:</span>
                    <span class="param-divider"></span>
                    <span>none</span>
                </div>

                <div class="param">
                    <label  class="action_button"><input type="file" onclick="" hidden>Select or create file...</label>
                </div>
                <div class="param">
                   <button id="cam-recording" class="action_button" type="button" onclick="">Start</button>
                   <button id="cam-pause"     class="action_button" type="button" onclick="">Pause</button>
                   <button id="cam-video"     class="action_button" type="button" onclick="">Stop</button>
                </div>
            </li>
            <li class="list-item">
                <div class="param">
                    <span>Camera calibration</span>
                    <span class="param-divider"></span>
                    <span style="background-color: #faa;">uncalibrated</span>
                </div>

                <div class="param">
                    <span>File name:</span>
                    <span class="param-divider"></span>
                    <span>none</span>
                </div>
                <div class="param">
                    <button class="action_button" type="button" onclick="">Reset calibration</button>
                </div>
                <div class="param">
                    <button class="action_button" type="button" onclick="">Select or create file...</button>
                </div>

                <div class="param">
                    <button class="action_button" type="button" onclick="">Start</button>
                    <button class="action_button" type="button" onclick="">Pause</button>
                    <button class="action_button" type="button" onclick="">Stop</button>
                </div>
            </li>
        </ul>
    </aside>

    <aside id="IMUSettingsContent" class="list-wrapper">
        <div class="close-wrapper">
            <button class="close" type="button" onclick="HideAll()">x</button>
        </div>
        <ul class="list">
            <li class="list-item">
                <div class="param">
                    <span>Gravity scale</span>
                </div>
                <select class="select">
                    <option>2g</option>
                    <option>4g</option>
                    <option>8g</option>
                    <option>16g</option>
                </select>
            </li>
            <li class="list-item">
                <div class="param">
                    <span>Angles velocity scale</span>
                </div>
                <select class="select">
                    <option>250deg</option>
                    <option>500deg</option>
                    <option>1000deg</option>
                    <option>2000deg</option>
                </select>
            </li>
            <li class="list-item">
                <div class="param">
                    <span>Static state acceleration threshold</span>
                    <span class="param-divider"></span>
                    <span>
			    <input type="text" id="imu_acceleration_threshold" value="0.3 m/sec^2"/>
			</span>
                </div>
            </li>
            <li class="list-item">
                <div class="param">
                    <span>Static state acceleration trustable time</span>
                    <span class="param-divider"></span>
                    <span>
				<input type="text" id="imu_acceleration_trust_t" value="0.3 sec"/>
			</span>
                </div>
            </li>
            <li class="list-item">
                <div class="param">
                    <span>Complementary filter k-arg</span>
                    <span class="param-divider"></span>
                    <span>
				<input type="text" id="filter_k_arg" value="0.998"/>
			</span>
                </div>
            </li>
            <li class="list-item">
                <div class="param">
                    <span>Record IMU</span>
                </div>

                <div class="param">
                    <span>File name:</span>
                    <span class="param-divider"></span>
                    <span>none</span>
                </div>

                <div class="param">
                    <button class="action_button" type="button" onclick="">Select or create file...</button>
                </div>
                <div class="param">
                    <button class="action_button" type="button" onclick="">Start</button>
                    <button class="action_button" type="button" onclick="">Pause</button>
                    <button class="action_button" type="button" onclick="">Stop</button>
                </div>
            </li>
            <li class="list-item">
                <div class="param">
                    <span>Calibrate IMU</span>
                    <span class="param-divider"></span>
                    <span style="background-color: #faa;">uncalibrated</span>
                </div>

                <div class="param">
                    <span>File name:</span>
                    <span class="param-divider"></span>
                    <span>none</span>
                </div>
                <div class="param">
                    <button class="action_button" type="button" onclick="">Reset calibration</button>
                </div>
                <div class="param">
                    <button class="action_button" type="button" onclick="">Select or create file...</button>
                </div>

                <div class="param">
                    <button class="action_button" type="button" onclick="">Start</button>
                    <button class="action_button" type="button" onclick="">Pause</button>
                    <button class="action_button" type="button" onclick="">Stop</button>
                </div>
            </li>

        </ul>
    </aside>

    <aside id="OdometerSettingsContent" class="list-wrapper">
        <div class="close-wrapper">
            <button class="close" type="button" onclick="HideAll()">x</button>
        </div>
        <ul class="list">
            <li class="list-item">
                <div class="param">
                    <span>Resolution</span>
                </div>
                <select class="select">
                    <option>HDTW</option>
                    <option>1050p</option>
                    <option>720p</option>
                </select>
            </li>
            <li class="list-item">
                <div class="param">
                    <span>Param name</span>
                    <span class="param-divider"></span>
                    <span>Param value</span>
                </div>
                <select class="select">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>
            </li>
            <li class="list-item">
                <div class="param">
                    <span>Param name</span>
                    <span class="param-divider"></span>
                    <span>Param value</span>
                </div>
                <div class="param">
                    <span>Param name</span>
                    <span class="param-divider"></span>
                    <span>Param value</span>
                </div>
                <div class="param">
                    <span>Param name</span>
                    <span class="param-divider"></span>
                    <span>Param value</span>
                </div>
                <select class="select">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>
            </li>
        </ul>
    </aside>

    <main class="content">
        <div class="cam">
            <img src="{{ url_for('get_frame') }}"/>
        </div>
        <!-- some content -->
    </main>
</section>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='camera_script.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='globals_script.js') }}"
    ></script>
</body>
</html>